@font-face {
	font-family: 'Poppins';
	src: url('/fonts/Poppins-Regular.ttf') format('truetype');
}

* {
	font-family: "Poppins", sans-serif !important;
	font-weight: 400;
}

* {
	scroll-behavior: smooth;
	scrollbar-width: thin;
	scrollbar-color: var(--chakra-colors-yellow-fg) var(--chakra-colors-yellow-subtle); /* Firefox */
}

/* Webkit browsers (Chrome, Safari, Edge) */
*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: var(--chakra-colors-yellow-400);
}

*::-webkit-scrollbar-thumb {
    background: var(--chakra-colors-yellow-400);
    border-radius: 4px;
}

*::-webkit-scrollbar-thumb:hover {
    background: var(--chakra-colors-yellow-600);
}

.chakra-portal > div[role="region"] {
	margin-top: 40px !important;
}

.titanHead {
	-webkit-app-region: drag;
}

.titanHead *:not(div) {
	-webkit-app-region: no-drag;
}

.titanContainer {
	-webkit-app-region: no-drag;
}

.branch-table-header-cell {
	padding-left: 5px !important;
	padding-right: 5px !important;
}

.branch-table-body-cell {
	padding-left: 5px !important;
	padding-right: 5px !important;
}

.chakra-react-select__menu {
	z-index: 99 !important;
}

.animation-pulse {
	animation: pulse 1.5s infinite;
}

@keyframes pulse {
	0%,
	100% {
		opacity: 1;
	}

	50% {
		opacity: 0.5;
	}
}

.animation-fadein-forward {
	animation: fadeinforward 0.5s;
}

@keyframes fadeinforward {
	from {
		opacity: 0;
		transform: translate3d(0, -100%, 0);
	}

	to {
		opacity: 1;
		transform: none;
	}
}

.animation-fadein-left-forward {
	animation: fadeinleftforward 0.5s;
}

@keyframes fadeinleftforward {
	from {
		opacity: 0;
		transform: translate3d(-100%, 0, 0);
	}

	to {
		opacity: 1;
		transform: none;
	}
}

.animation-fadein-right-forward {
	animation: fadeinrightforward 0.5s;
}

@keyframes fadeinrightforward {
	from {
		opacity: 0;
		transform: translate3d(100%, 0, 0);
	}

	to {
		opacity: 1;
		transform: none;
	}
}

.animation-handwave {
	animation: handwave 10s infinite;
	transform-origin: bottom right;
}

@keyframes handwave {
	0%,
	100% {
		transform: rotate(0deg);
	}

	20%,
	60% {
		transform: rotate(15deg);
	}

	40%,
	80% {
		transform: rotate(-15deg);
	}
}

.ag-cell-focus,
.ag-cell-no-focus {
	border: none !important;
}

textarea:focus {
	--focus-color: var(--chakra-colors-color-palette-focus-ring);
	box-shadow: 0px 1px 0px 0px var(--focus-color) !important;
}