:root, .chakra-ui-dark *:not([data-focus]) {
	--chakra-colors-chakra-body-bg: #121212 !important;
	--menu-bg: #121212 !important;
}

.chakra-ui-dark *[data-focus] {
	--menu-bg: #232323 !important;
}

body {
	/* overflow: hidden; */
}

.chakra-portal > div[role="region"] {
	margin-top: 40px !important;
}

.titanHead {
	-webkit-app-region: drag;
}

.titanHead *:not(div) {
	-webkit-app-region: no-drag;
}

.titanBody {
	-webkit-app-region: no-drag;
}

.branch-table-header-cell {
	padding-left: 5px !important;
	padding-right: 5px !important;
}

.branch-table-body-cell {
	padding-left: 5px !important;
	padding-right: 5px !important;
}

.animation-pulse {
	animation: pulse 1.5s infinite;
}

@keyframes pulse {
	0%,
	100% {
		opacity: 1;
	}

	50% {
		opacity: 0.5;
	}
}

.animation-fadein-forward {
	animation: fadeinforward 0.5s;
}

@keyframes fadeinforward {
	from {
		opacity: 0;
		transform: translate3d(0, -100%, 0);
	}

	to {
		opacity: 1;
		transform: none;
	}
}

.animation-fadein-left-forward {
	animation: fadeinleftforward 0.5s;
}

@keyframes fadeinleftforward {
	from {
		opacity: 0;
		transform: translate3d(-100%, 0, 0);
	}

	to {
		opacity: 1;
		transform: none;
	}
}

.animation-fadein-right-forward {
	animation: fadeinrightforward 0.5s;
}

@keyframes fadeinrightforward {
	from {
		opacity: 0;
		transform: translate3d(100%, 0, 0);
	}

	to {
		opacity: 1;
		transform: none;
	}
}

.animation-handwave {
	animation: handwave 10s infinite;
}

@keyframes handwave {
	0%,
	100% {
		transform: rotate(0deg);
	}

	20%,
	60% {
		transform: rotate(15deg);
	}

	40%,
	80% {
		transform: rotate(-15deg);
	}
}

.ag-cell-focus,
.ag-cell-no-focus {
	border: none !important;
}

/* From AG Grid React */
.large {
	--ag-grid-size: 10px;
	--ag-list-item-height: 40px;
	--ag-font-size: 32px;
}

.compact {
	--ag-grid-size: 4px;
	--ag-list-item-height: 20px;
	--ag-font-size: 16px;
}
